In [2]:
import json
import pandas as pd

In [ ]:
%%time
size = 1000
range_index = 1000

rows = []

for i in range(range_index):
    filename = f'spotify_million_playlist_dataset/data/mpd.slice.{i*size}-{(i+1)*size -1}.json'

    with open(filename, 'r', encoding='utf-8') as f:
        data = json.load(f)

    # data['playlists'] is a list, each element in it is a playlist object
    playlists = data['playlists']

    # We want to merge all the tracks from all playlists into one table
    for playlist in playlists:
        pid = playlist['pid']
        playlist_name = playlist['name']
        tracks = playlist['tracks']
        
        for track in tracks:
            track_uri = track['track_uri']
            # extract real track_id
            # such as spotify:track:0yLjkpa51CN1uiryMDOrtt -> 0yLjkpa51CN1uiryMDOrtt
            track_id = track_uri.split(':')[-1]
            
            rows.append({
                'pid': pid,
                'playlist_name': playlist_name,
                'track_id': track_id,
                'artist_name': track.get('artist_name'),
                'track_name': track.get('track_name')
            })

df_playlists = pd.DataFrame(rows)
df_playlists.head()

CPU times: total: 6min 30s
Wall time: 9min 38s

,pid,playlist_name,track_id,artist_name,track_name
0,0,Throwbacks,0UaMYEvWZi0ZqiDOoHU3YI,Missy Elliott,Lose Control (feat. Ciara & Fat Man Scoop)
1,0,Throwbacks,6I9VzXrHxO9rA9A5euc8Ak,Britney Spears,Toxic
2,0,Throwbacks,0WqIKmW4BTrj3eJFmnCKMv,Beyoncé,Crazy In Love
3,0,Throwbacks,1AWQoqb9bSvzTjaLralEkT,Justin Timberlake,Rock Your Body
4,0,Throwbacks,1lzr43nnXAijIGYnCT8M8H,Shaggy,It Wasn't Me

In [ ]:
# read CSV
df_features = pd.read_csv('audio_features.csv')  # 请把文件名替换为你的 CSV 文件名

# check
df_features.head()

Empty DataFrame
Columns: [pid, playlist_name, track_id, artist_name, track_name]
Index: []

In [ ]:
# read csv
df_features = pd.read_csv('spotify_12m_songs/versions/1/tracks_features.csv') 

# check
df_features.head()

,id,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
0,7lmeHLHBe4nmXzuXc0HDjk,Testify,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],1,1,False,0.470,...,0.0727,0.02610,0.000011,0.3560,0.503,117.906,210133,4.0,1999,1999-11-02
1,1wsRitfRRtWyEapl0q22o8,Guerrilla Radio,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],2,1,True,0.599,...,0.1880,0.01290,0.000071,0.1550,0.489,103.680,206200,4.0,1999,1999-11-02
2,1hR0fIFK2qRG3f3RF70pb7,Calm Like a Bomb,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],3,1,False,0.315,...,0.4830,0.02340,0.000002,0.1220,0.370,149.749,298893,4.0,1999,1999-11-02
3,2lbASgTSoDO7MTuLAXlTW0,Mic Check,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],4,1,True,0.440,...,0.2370,0.16300,0.000004,0.1210,0.574,96.752,213640,4.0,1999,1999-11-02
4,1MQTmpYOZ6fcMQc56Hdo7T,Sleep Now In the Fire,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],5,1,False,0.426,...,0.0701,0.00162,0.105000,0.0789,0.539,127.059,205600,4.0,1999,1999-11-02

In [ ]:
all_ids = set(df_features['id'].unique())

len(all_ids)

1204025

In [12]:
df_in_features = df_playlists[df_playlists['track_id'].isin(all_ids)]
df_in_features.head()
len(df_in_features)
all_ids2 = set(df_in_features['track_id'].unique())

In [14]:
len(all_ids2)
df_in_features.head()

,pid,playlist_name,track_id,artist_name,track_name
1,0,Throwbacks,6I9VzXrHxO9rA9A5euc8Ak,Britney Spears,Toxic
3,0,Throwbacks,1AWQoqb9bSvzTjaLralEkT,Justin Timberlake,Rock Your Body
8,0,Throwbacks,7H6ev70Weq6DdpZyyTmUXk,Destiny's Child,Say My Name
9,0,Throwbacks,2PpruBYCo4H7WOBJ7Q2EwM,OutKast,Hey Ya! - Radio Mix / Club Mix
19,0,Throwbacks,4pmc2AxSEq6g7hPVlJCPyP,Destiny's Child,"Jumpin', Jumpin'"

In [15]:
df_playlists[df_playlists['track_id'] == '6I9VzXrHxO9rA9A5euc8Ak']

,pid,playlist_name,track_id,artist_name,track_name
1,0,Throwbacks,6I9VzXrHxO9rA9A5euc8Ak,Britney Spears,Toxic
2125,38,tb,6I9VzXrHxO9rA9A5euc8Ak,Britney Spears,Toxic
7753,123,w o r k o u t,6I9VzXrHxO9rA9A5euc8Ak,Britney Spears,Toxic
16829,262,throwback,6I9VzXrHxO9rA9A5euc8Ak,Britney Spears,Toxic
22288,355,throw backs,6I9VzXrHxO9rA9A5euc8Ak,Britney Spears,Toxic
...,...,...,...,...,...
66306275,999366,Birthday Bash,6I9VzXrHxO9rA9A5euc8Ak,Britney Spears,Toxic
66315026,999509,ROADTRIP,6I9VzXrHxO9rA9A5euc8Ak,Britney Spears,Toxic
66316304,999531,throwback,6I9VzXrHxO9rA9A5euc8Ak,Britney Spears,Toxic
66332948,999784,Throwback,6I9VzXrHxO9rA9A5euc8Ak,Britney Spears,Toxic
66333827,999802,Songs that never fail to make white people bey...,6I9VzXrHxO9rA9A5euc8Ak,Britney Spears,Toxic

In [ ]:
# Group 'track_id' and calculate the size of each group
df_counts = df_playlists.groupby('track_id').size().reset_index(name='occurrence_count')

# check
df_counts.head()

                 track_id  occurrence_count
0  0000uJA4xCdxThagdLkkLR                 1
1  0002yNGLtYSYtc0X6ZnFvp                 6
2  00039MgrmLoIzSpuYKurn9                 3
3  0003Z98F6hUq7XxqSRM87H                 1
4  0004ExljAge0P5XWn1LXmW                 1

In [17]:
new_df = pd.merge(df_features, df_counts,
                  left_on='id',
                  right_on='track_id',
                  how='inner')

In [18]:
new_df.head()

,id,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,...,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date,track_id,occurrence_count
0,7lmeHLHBe4nmXzuXc0HDjk,Testify,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],1,1,False,0.470,...,0.000011,0.3560,0.503,117.906,210133,4.0,1999,1999-11-02,7lmeHLHBe4nmXzuXc0HDjk,1544
1,1wsRitfRRtWyEapl0q22o8,Guerrilla Radio,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],2,1,True,0.599,...,0.000071,0.1550,0.489,103.680,206200,4.0,1999,1999-11-02,1wsRitfRRtWyEapl0q22o8,1807
2,1hR0fIFK2qRG3f3RF70pb7,Calm Like a Bomb,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],3,1,False,0.315,...,0.000002,0.1220,0.370,149.749,298893,4.0,1999,1999-11-02,1hR0fIFK2qRG3f3RF70pb7,309
3,2lbASgTSoDO7MTuLAXlTW0,Mic Check,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],4,1,True,0.440,...,0.000004,0.1210,0.574,96.752,213640,4.0,1999,1999-11-02,2lbASgTSoDO7MTuLAXlTW0,70
4,1MQTmpYOZ6fcMQc56Hdo7T,Sleep Now In the Fire,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],5,1,False,0.426,...,0.105000,0.0789,0.539,127.059,205600,4.0,1999,1999-11-02,1MQTmpYOZ6fcMQc56Hdo7T,790

In [19]:
len(new_df)

134712

In [22]:
selected_cols = ['id', 'danceability', 'energy', 'key', 'loudness', 'speechiness', 
                 'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo', 
                 'occurrence_count']
new_df2 = new_df[selected_cols]
new_df2.head()

,id,danceability,energy,key,loudness,speechiness,acousticness,instrumentalness,liveness,valence,tempo,occurrence_count
0,7lmeHLHBe4nmXzuXc0HDjk,0.470,0.978,7,-5.399,0.0727,0.02610,0.000011,0.3560,0.503,117.906,1544
1,1wsRitfRRtWyEapl0q22o8,0.599,0.957,11,-5.764,0.1880,0.01290,0.000071,0.1550,0.489,103.680,1807
2,1hR0fIFK2qRG3f3RF70pb7,0.315,0.970,7,-5.424,0.4830,0.02340,0.000002,0.1220,0.370,149.749,309
3,2lbASgTSoDO7MTuLAXlTW0,0.440,0.967,11,-5.830,0.2370,0.16300,0.000004,0.1210,0.574,96.752,70
4,1MQTmpYOZ6fcMQc56Hdo7T,0.426,0.929,2,-6.729,0.0701,0.00162,0.105000,0.0789,0.539,127.059,790

In [ ]:
from sklearn.preprocessing import StandardScaler

# Feature columns that need to be normalized (excluding 'id')
feature_cols = ['danceability', 'energy', 'key', 'loudness', 'speechiness', 
                'acousticness', 'instrumentalness', 'liveness', 'valence', 
                'tempo', 'occurrence_count']

df_for_scaling = new_df2.copy()

# Separate the sub-DataFrame to be normalized
features_to_scale = df_for_scaling[feature_cols]

# initial StandardScaler
scaler = StandardScaler()

# Fit and transform
features_scaled = scaler.fit_transform(features_to_scale)

# Convert back to DataFrame and add column names
df_scaled_features = pd.DataFrame(features_scaled, columns=feature_cols)

# If necessary, you can concatenate the 'id' column back together with the normalized features.
df_scaled = pd.concat([df_for_scaling[['id']], df_scaled_features], axis=1)

df_scaled.head()

,id,danceability,energy,key,loudness,speechiness,acousticness,instrumentalness,liveness,valence,tempo,occurrence_count
0,7lmeHLHBe4nmXzuXc0HDjk,-0.239643,1.545439,0.504262,0.855004,-0.084450,-1.018675,-0.663029,0.731281,0.184434,-0.028937,2.443088
1,1wsRitfRRtWyEapl0q22o8,0.448997,1.470214,1.632828,0.794662,0.998881,-1.054604,-0.662862,-0.286777,0.132294,-0.494485,2.876495
2,1hR0fIFK2qRG3f3RF70pb7,-1.067078,1.516782,0.504262,0.850871,3.770628,-1.026024,-0.663054,-0.453920,-0.310892,1.013129,0.407887
3,2lbASgTSoDO7MTuLAXlTW0,-0.399791,1.506035,1.632828,0.783751,1.459273,-0.646043,-0.663049,-0.458985,0.448856,-0.721204,0.014031
4,1MQTmpYOZ6fcMQc56Hdo7T,-0.474528,1.369913,-0.906446,0.635127,-0.108879,-1.085308,-0.369701,-0.672220,0.318507,0.270596,1.200544

In [24]:
df_scaled.to_csv('scaled_songs.csv', index=False)